# Entorno virtual
tutorial-env/
venv/
.env/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de Django
/media/
staticfiles/

# Archivos de editor/IDE
.vscode/
.idea/
*.log

# Archivos de sistema
.DS_Store
Thumbs.db
